<form action="/{{gender}}/add?image={{image}}" method="post">
  <label for="firstName" class="form-item">
    <input type="text" name="firstName" value="{{firstName}}">
  </label>
  <label for="lastName" class="form-item">
    <input type="text" name="lastName" value="{{lastName}}">
  </label>
  <input type="submit" name="" value="Submit">
</form>


<a href="/{{gender}}/dragon-names"><button type="button" class="btn btn-primary">Random</button></a>